* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 .container {
    width: 100%;
    max-width: 430px;
    height: 100dvh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 430px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    z-index: 10;
    
}

header button {
    cursor: pointer;
    background-color: white;
    border: none;

}

header img {
    max-width: 100%;
    width: 75px;
    height: 50px;
}

.chat {
    background-color:#F3f3f3;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-y: auto;
             
}

.mensagem_normal {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
    font-family: "Roboto", serif;;

}
.mensagem_private_message {
    width: 100%;
    background-color: rgba(255, 222, 222, 1);
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
    font-family: "Roboto", serif;
}

.mensagem_status {
    width: 100%;
    background-color: rgba(220, 220, 220, 1);
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
    font-family: "Roboto", serif;

}

footer form { 
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 430px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    z-index: 10;
    
}

form button {
    cursor: pointer;
    background-color: white;
    border: none;
}

footer input {
    border: none;
    outline: none;
    width: 80%;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
} 

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 20;

}

.overlay.visivel {
    visibility: visible;
    opacity: 1;
}

.menu {
    width: 260px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
   
}

.menu > h1 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    font-style: xxx;
    padding-top: 20px;

}

.botao > p {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    font-style: xxx;

}

.botao {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    cursor: pointer;
} 

.destinatarios {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

}

.visibilidade {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

}

.check-icon {
    font-size: 20px;
    color: green;
    margin-left: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
}

.botao.selecionado .check-icon {
    visibility: visible;
    opacity: 1;
}